


/* ALL */

body{
	font-family: Lato;
	font-size: 14px;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
h1{
	font-size: 30px;
	font-weight: 400;
}
h2{
	font-weight: 300;
	font-style: italic;
	font-size: 21px;
	margin-top: -10px;
	margin-left: 2px;
}
h4{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	letter-spacing: 2px;
	cursor: pointer;
}
h4 a:hover{
	font-weight: 600;
}
.projectsText{
	font-size: 14px;
}
h5{ /* titles on home page */
	font-weight: 600;
	font-size: 16px;
	margin-bottom: -3px;
	margin-top: 0px;
}
h6{ /* titles on project pages */
	font-weight: 600;
	font-size: 20px;
	margin-bottom: -3px;
	margin-top: 0px;
}
p{
	line-height: 20px;
}
p span{
	font-weight: 900;
}
.underline{
	text-decoration: underline;
}
.questions{
	margin-top: 0px;
	font-size: 60px;
	line-height: 80px;
	font-weight: 600;
	margin-left: 50px;
	margin-right: 50px;
}
.hidden{
	display: none;
}




/* HOME */

#home{
	overflow-y: hidden; /* even necessary with javascript? doesn't work on safari it seems */
}

.projPage{

}




/* HEADER */

.headerContainer{
	width: 100%;
	height: 180px; /* update HEADER_HEIGHT in script.js if altered */ 
}
.headerTitleText{
	margin-left: 50px;
	margin-top: 15px;
}
#nameContainer{
	float: left;
	z-index: 100;
	top: 0px;
	left: 0px;
}
.navigationContainer{
	margin-top: 45px;
	width: 240px;
	float: left;
	z-index: 100;
	top: 0px;
	right: 50px;
}
.homeFixed{
	position: fixed;
}
.projPageAbsolute{
	position: absolute;
}
.navigationTextContainer{
	width: 110px;
	float: right;
	text-align: right;
}




/* HEADERS FOR PROJECT PAGES */

.projectTitleContainer{
	width: 100%;
	text-align: center;
	/*margin-left: 200px;*/
	margin-top: 120px;
	/*background-color: #f9f9f9;*/
	height: 100px;
}
.currentContentText{
	font-weight: 600;
	/*border-bottom: 2px solid #000;*/
	padding-bottom: 3px;
}




/* FOOTER */

.contactInfo{
	display: inline-block;
	clear: both;
}
.footerContainer{
	background-color: white;
	z-index: 100000000;
	bottom: 0px;
	left: 50px;
	height: 50px; /* update FOOTER_HEIGHT in script.js if altered */
}
.projPageFooter{
	margin-left: 50px;
	margin-bottom: 10px;
	clear: both;
	margin-top: 40px;
	margin-right: 50px;
}
.projPageNoScroll{
	margin-bottom: 10px;
	position: absolute;
	right: 50px;
}
.socialMediaImgsHome{
	margin-top: 4px;
	max-height: 24px;
	display:inline-block;
	margin-left: 1px;
	margin-right: 9px;
	vertical-align: top;
}
.nextProjContainer{
	width: 200px;
	float: right;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}




/* FOOTER FOR PROJECT PAGES */

.footerContainerProj{
	top: 35%;
	left: 20px;
	padding-left: 10px;
	width: 30px;
	height: 200px;
}
.socialMediaImgsProj{
	margin-top: 20px;
	max-height: 25px;
	display:inline-block;
	margin-left: 1px;
	margin-right: 9px;
	vertical-align: top;
}





/* HORIZONTAL SCROLLING */

#projectsContainer{
	margin: auto; 
	margin-left: 50px;
	text-align: center; 
	position: relative;
	width: 100%;
	padding-bottom: 0px;
}
.scrolls{ 
	white-space:nowrap;
} 




/* ARROWS */

.arrow{
    color:black;
    font-weight:normal;
    cursor:pointer;
    outline:none;
}
i{
	width: 5px;
	height: 5px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /*float: right;*/
    /*margin-top: 200px;*/
}
.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    /*float: left;*/
    /*margin-top: 200px;*/
}
/* just for home page: circle contains arrow */
.circle{
	border-radius: 50%;
    background-color: white;
	top: 125px;
	z-index: 1000000;
	cursor: pointer;
}
.projectArrows{
	top: 135px;
}
.circleRight{
	right: 100px;
}
.circleLeft{
	left: 40px;
}
.arrowsHome{
	margin-top: 18px;
}
#arrowNext{
	margin-left: 12px;
}
#arrowPrev{
	margin-left: 20px;
}



/* PROJECT SUMMARIES (IMAGES + DESCRIPTIONS) */

.projects{
	display: inline-block;
	vertical-align: top;
	margin-right: 50px; /* update PROJECT_PADDING in script.js if altered */  
}
.lastProjectImg{
	margin-right: 80px;
}
.projectDescriptions{
	white-space: normal;
	word-wrap: break-word;
	width: 260px;
	text-align: left;
	height: 210px; /* update DESCRIPTIONS_HEIGHT in script.js if altered */  
	padding-top: 15px;
}
.projectImgContainers{
	width: 10px;
}
.projectImgs{ 
	height: 300px;
	text-align: left;
	cursor: pointer;
	margin-left: 0px;
}



/* PROJECT SUMMARIES (IMAGES + DESCRIPTIONS) */

#rijks{
/*    border: 3px solid red;
    border-radius: 5px;*/
}

#rijksImg{
	/*background-color: #eafefd;*/
/*    border: 5px solid #319343;
    border-radius: 5px;*/
}








.content {
	margin-top: 10px;
	z-index: 100000;
	margin-left: 50px;
	margin-right: 50px;
}
.contentEntry{
	margin-top: 50px;
	clear: both;
}
.contentLeftLargeCol{
	display: inline-block;
	width: 70%;
}
.contentRightSmallCol{
	display: inline-block;
	width: 25%;
	float: right;
}
.challengeSummary{
	background-color: #f2f2f2;
}
.challengeSummary p{
	margin-left: 50px;
	margin-right: 50px;
}
.challengeSummary p:first-of-type{
	margin-top: 50px;
}
.challengeSummary p:last-of-type{
	margin-bottom: 50px;
}
.visitLink{
	color: #c90057;
	font-weight: bold;
}
.projPageImages{
	max-width: 100%;
}
.projPageImagesSmaller{
	max-width: 85%;
	margin-left: 6%;
	margin-right: 6%;
}
.projPageImagesDouble{
	max-width: 47%;
	margin-right: 2%;
}
.projPageImagesTriple{
	max-width: 30%;
	margin-right: 2%;
}
.addSpace{
	margin-top: 10px;
}
.rijksGifs{
	width: 300px;
}




.dropdownPage {
    position: absolute;
    margin-top: -100%;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: white;   
    border-bottom: 5px solid #319343;
}
.cross{
    position:absolute;
    background-color: white;
    top:0px;
    right:0;
    padding:14px 15px 0px 15px;
    color:black;
    border:0;
    font-size:7em;
    line-height:65px;
    font-weight:normal;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    margin-right: 30px;
}
.dropdownContent{
	margin: auto;
	margin-top: 50px;
	width: 80%;
	height: 500px;
}
.nextContainer{
	cursor: pointer;
	display:inline-block;
	height: 500px;
	width: 9%;
	vertical-align: top;
}
.prevContainer{
	cursor: pointer;
	display:inline-block;
	height: 500px;
	width: 9%;
	vertical-align: top;
}
.contentContainer{
	display:inline-block;
	width: 80%;
	vertical-align: top;
	height: 500px;
}
.scrollable{
	overflow-y: scroll;
}
.contentVideosContainer{
	display: inline-block;
	float: left;
	width: 63%;
}
.video{
	width: 100%;
	min-height: 340px;
}
.contentImagesContainerProcess{
	width: 63%;
	display: inline-block;
	float: left;
}
.contentTextContainerProcess{
	width: 32%;
	margin-left: 2%;
	margin-right: 3%;
	display: inline-block;
	float: left;
	word-wrap: break-word;
}
.scrollableSteps{
	clear: both;
}
.scrollableImgs{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	display: inline-block;
	float: left;
}
.scrollableImgsHalf{
	width: 44%;
	display: inline-block;
	float: left;
}
.scrollableImgsHalfLeft{
	margin-left: 4%;
	margin-right: 2%;
}
.scrollableImgsHalfRight{
	margin-left: 2%;
	margin-right: 4%;
}
.contentDivs{
	margin-bottom: 50px;
}
.backToTop{
	width: 100%;
	height: 450px;
	text-align: center;
}
.contentImagesContainerResults{
	width: 76%;
	display: inline-block;
	float: left;
}
.contentTextContainerResults{
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	float: left;
	word-wrap: break-word;
}
